<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--Tara clientID : 63924c55-af92-432e-a152-52151a2e891e -->
    <!--Davidsh clientID : 6037a9da-8f56-4519-83e3-66155b423a49 -->
    <add key="Auth.ClientId" value="63924c55-af92-432e-a152-52151a2e891e"/>
    <add key="Data.RefreshInSeconds" value="5"/>
    <add key="Auth.RedirectUrl" value="https://login.live.com/oauth20_desktop.srf"/>
    <add key="Auth.ResourceUri" value="https://analysis.windows.net/powerbi/api"/>
    <add key="PowerBI.RestApiUrl" value="https://api.powerbi.com/v1.0/myorg"/>
    
    <!--
    If deployed into a group, use this value for PowerBI.RestApiUrl replacing the groups guid at the end with the groupid.
    <add key="PowerBI.RestApiUrl" value="https://api.powerbi.com/v1.0/myorg/groups/2a805023-d512-4a46-b64b-383bae243777"/>
    -->
    
  </appSettings>
</configuration>